---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts (1 fois ici) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />


  </head>

  <body class="bg-white text-neutral-900">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
